@import "../../../../node_modules/bootstrap/scss/vendor/_rfs.scss";
//@import "../../../node_modules/bootstrap/scss/mixins/_grid.scss";
@import '_vars.scss';
$enable-responsive-font-sizes: true;



.about-space {
    width: 100%;
    background-color: rgba(255,255,255,.95);

    text-align: left;

   

    .about-content {

        .about-header {
            @include font-size (3rem !important);
            font-weight: bolder;
            text-align: center;
            border-bottom: .05rem solid black;
            border-right: .05rem solid black;
            border-left: .05rem solid black;
            margin: 0 auto;
           // width: 12rem;
           display: block;
           width: 13rem;


            @media (max-width: 992px) {   margin: 0 auto; 
                border-left: 0.05rem solid black;
            }
        }

        .about-details {
            
      
            
          //  padding: 2rem 1.2rem .75rem 1.2rem;
            text-align: center;
            line-height: 3.5rem;
            color: black;
            font-weight: 490;
            margin: 0 auto;
            list-style-type: none;
            @include padding (1.3rem 0 2.4rem 0);
            @include font-size (1.25rem);
           // white-space: nowrap;
           // word-break: keep-all;

           td{
            img{
                width: 6rem;
                text-align: right;
                float: right;
                padding: 0 1rem;
                border-left: .05rem solid darkslategray;
            }
           }
          

            // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {   @include font-size (1rem);}

// Medium devices (tablets, 768px and up)
@media (max-width: 1900px) {   @include font-size (1.3rem); 
}

@media (max-width: 1588px) {   @include font-size (1.35rem); 
}

@media (max-width: 1450px) {   @include font-size (1rem); 
}

// @media (max-width: 1304px) {   @include font-size (.90rem); 
// }

// @media (max-width: 1200px) {   @include font-size (.80rem); 
// }

// @media (max-width: 1078px) {   @include font-size (.73rem); 
// }

@media (max-width: 992px) {   @include font-size (1.4rem); 
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
}

// // Large devices (desktops, 992px and up)
//  @media (max-width: 992px) {@include font-size (1rem); 


// }

// // // X-Large devices (large desktops, 1200px and up)
//  @media (min-width: 1200px) {  @include font-size (1rem);    }

// // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
    //@include font-size (1.3rem);
}
        }

        .skill-details{
            @extend .about-details;
            width: 60%;
            margin-bottom: 2.4rem;
            text-align: left;
            margin: 0 auto;
           // padding-left: 5%;

           @media (max-width: 992px) {   
            @include font-size (1.4rem); 
            text-align: left;
            width: 100%;
            padding: 1rem;
            margin: 0;
        }
           
        .side-a{
            float:left;
            width:50%;
            //padding-left: 20%;
            text-align: left;
            padding-right: 2rem;
            padding-left: 29%;
            
        }
        .side-b{
            float:left;
            width:50%;
          //  padding-left: 5%;
          padding-left: 3%;
        }

        }

    }
}